@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

img {
  width: 100%;
}

.hero-section {
  height: 100vh;
  background: url("/images/desktop/image-header.jpg") no-repeat center;
  background-size: cover;
}

.hero-section .main-navbar {
  width: 1440px;
  margin: auto;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .main-navbar .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-section .main-navbar .navbar a.navbar-link {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 20px;
}

.hero-section .main-navbar .navbar a.navbar-link.link-active {
  background: white;
  color: #818498;
  border-radius: 40px;
  font-family: "Fraunces", serif;
  margin-left: 10px;
}

.hero-section .main-navbar .navbar a.navbar-link.link-active:hover {
  background: #e6e6e6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero-control {
  text-align: center;
  margin-top: 70px;
  font-size: 72px;
  color: white;
  font-family: "Fraunces", serif;
}

.hero-control .hero-cover-arrow {
  margin-top: 120px;
}

.about-section .about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-section .about-row .about-box {
  width: 100%;
}

.about-section .about-row .about-box .inner {
  width: 60%;
  padding: 30px;
}

.about-section .about-row .about-box .inner h2 {
  font-size: 48px;
  font-family: "Fraunces", serif;
  color: #23303e;
}

.about-section .about-row .about-box .inner p {
  margin: 30px 0px;
  color: #818498;
  line-height: 30px;
}

.about-section .about-row .about-box .inner a {
  color: #19536b;
  text-decoration: none;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  display: inline-block;
}

.about-section .about-row .about-box .inner a:after {
  content: '';
  display: block;
  width: 110%;
  height: 8px;
  margin-left: -5%;
  margin-top: -5px;
  border-radius: 20%;
}

.about-section .about-row .about-box .inner a.yellow:after {
  background: #ffe347;
}

.about-section .about-row .about-box .inner a.red:after {
  background: #ffbcb3;
}

.about-section .about-row:nth-child(even) .about-box .inner {
  margin-right: auto;
}

.about-section .about-row:nth-child(odd) .about-box .inner {
  margin-left: auto;
}

.section-services .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-services .services .service {
  width: 100%;
  position: relative;
}

.section-services .services .service .service-info {
  position: absolute;
  left: 0px;
  bottom: 30px;
  padding: 30px;
  text-align: center;
}

.section-services .services .service .service-info h3 {
  font-size: 32px;
  font-family: "Fraunces", serif;
  margin-bottom: 30px;
}

.section-services .services .service .service-info p {
  width: 45%;
  margin: auto;
  line-height: 30px;
}

.section-services .services .service .service-info.blue h3 {
  color: #19536b;
}

.section-services .services .service .service-info.blue p {
  color: #237395;
}

.section-services .services .service .service-info.blue.green h3 {
  color: #25564b;
}

.section-services .services .service .service-info.blue.green p {
  color: #34796a;
}

.testimonals-section {
  padding: 120px 0px;
  text-align: center;
}

.testimonals-section .testi-header {
  font-family: "Fraunces", serif;
  font-size: 22px;
  color: #818498;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.testimonals-section .testimonals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 70px auto;
}

.testimonals-section .testimonals .testimonal {
  width: 100%;
  padding: 30px;
}

.testimonals-section .testimonals .testimonal .testi-image {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */