* {
  padding: 0;
  margin: 0;
  // box-sizing: border-box;
}

@import 'reset';
//font imports
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

//primary colors
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-cyan-footer: hsl(168, 34%, 41%);

//neutral colors
$very-dark-blue: hsl(212, 27%, 19%);
$very-dark-gray-blue: hsl(213, 9%, 39%);
$dark-gray-blue:  hsl(232, 10%, 55%);
$gray-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//fonts
$font1: 'Barlow', sans-serif;
$font2: 'Fraunces', serif;

// html {
//     font-size: 62.5%;
// }

body {
    font-size: 18px;
    font-family: $font1;
}

img {
  width: 100%;
}

.hero-section {
  height: 100vh;
  background: url('/images/desktop/image-header.jpg') no-repeat center;
  background-size: cover;
 .main-navbar {
    width: 1440px;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar {
      display: flex;
      a.navbar-link {
        display: block;
        text-decoration: none;
        color: $white;
        padding: 15px 20px;
        &.link-active {
          background: $white;
          color: $dark-gray-blue;
          border-radius: 40px;
          font-family: $font2;
          margin-left: 10px;
          &:hover {
            background: darken($white, 10%);
            transition: 0.3s;
            }
          }
        }
      } 
    }
 }

 .hero-control {
   text-align: center;
   margin-top: 70px;
   font-size: 72px;
   color: $white;
   font-family: $font2;
   .hero-cover-arrow {
    margin-top: 120px;
   }
 }

 .about-section {
   .about-row {
     display: flex;
     align-items: center;
     justify-content: center;
     .about-box {
       width: 100%;
       .inner {
         width: 60%;
         padding: 30px;
      
         h2 {
           font-size: 48px;
           font-family: $font2;
           color: $very-dark-blue;

         }
         p {
           margin: 30px 0px;
           color: $dark-gray-blue;
           line-height: 30px;
         }
         a{
           color: $dark-blue;
           text-decoration: none;
           font-family: $font2;
           text-transform: uppercase;
           display: inline-block;
           &:after {
             content: '';
             display: block;
             width: 110%;
             height: 8px;
             margin-left: -5%;
             margin-top: -5px;
             border-radius: 20%;
             
           }&.yellow {
             &:after {
               background: lighten($yellow, 15%);
             }
           }
           &.red {
            &:after {
              background: lighten($soft-red, 15%);
            }
          }
         }
       }
     }
     &:nth-child(even) {
       .about-box {
         .inner {
            margin-right: auto;
         }
       }
     }
     &:nth-child(odd) {
      .about-box {
        .inner {
           margin-left: auto;
        }
      }
    }
   }
 }

 .section-services {
   .services {
     display: flex;
     .service {
       width: 100%;
       position: relative;
       .service-info {
         position: absolute;
         left: 0px;
         bottom: 30px;
         padding: 30px;
         text-align: center;
         h3 {
           font-size: 32px;
           font-family: $font2;
           margin-bottom: 30px;
         }
         p{
           width: 45%;
           margin: auto;
           line-height: 30px;
         }
         &.blue {
            h3 {
              color: $dark-blue;
            }
            p{
              color: lighten($dark-blue, 10%);
            }
          &.green {
            h3 {
              color: $dark-cyan;
            }
            p{
              color: lighten($dark-cyan, 10%);
            }

          }
         }
       }
     }
   }
 }

 .testimonals-section {
   padding: 120px 0px;
   text-align: center;
   .testi-header {
     font-family: $font2;
     font-size: 22px;
     color: $dark-gray-blue;
     text-transform: uppercase;
     letter-spacing: 5px;
   }
   .testimonals {
    display: flex;
    width: 80%;
    margin: 70px auto;
     .testimonal{
        width: 100%;
        padding: 30px;
        .testi-image {
          width: 120px;
          height: 120px;
          object-fit: cover;
          margin: 50px auto;
          border-radius: 50%;
          overflow: hidden;
        }
        .testi-info {
          p {
            line-height: 30px;
            color: $dark_gray_blue;
            width: 80%;
            margin: auto;
          }
          .name {
            margin-top: 70px;
            margin-bottom: 15px;
            font-size: 26px;
            font-family:  $font2;
            color: $very-dark-blue;
            font-weight: 900;
          }
          .designation {
            color: $dark-gray-blue;

          }
        }
     }
   }
 }

 .projects-section {
   .projects{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     .project {
       position: relative;
       overflow: hidden;
       .project-info {
        position: absolute;
        bottom: -100px;
        left: 0px;
        width: 100%;
        a {
          display: block;
          color: $white;
          background: black;
          padding: 30px;
          font-size: 22px;
        }
      }
     }
   }
 }

 .main-footer {
   background: lighten($dark-cyan-footer, 10% );
   text-align: center;
   padding: 6.5rem 0rem;
   .footer-logo {
     width: 8rem;
     margin: auto;
     color: $dark-cyan;
     svg path {
       fill: currentColor;
     }
    }
    .footer-navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3rem auto;
      width: 100%;
      .navbar-link {
        text-decoration: none;
        padding: 1rem 1rem;
        color: $dark-cyan;
        &:hover {
          color: $white;
        }
      }
    }
    .footer-social {
      display:flex;
      justify-content: center; 
      align-items: center;
      margin-top: 6rem;
      width: 100%;
      .footer-social-icon {
        display: block;
        padding: 1rem 1rem;
        color: $dark-cyan;
        &:hover {
          color: $white;
        }
      }
    }
 }