* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-cyan-footer: hsl(168, 34%, 41%);
