@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

img {
  width: 100%;
}

.hero-section {
  height: 100vh;
  background: url("/images/desktop/image-header.jpg") no-repeat center;
  background-size: cover;
}

.hero-section .main-navbar {
  width: 1440px;
  margin: auto;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1440px) {
  .hero-section .main-navbar {
    width: 90%;
  }
}

.hero-section .main-navbar .burger-icon {
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}

@media only screen and (max-width: 1024px) {
  .hero-section .main-navbar .burger-icon {
    display: block;
  }
}

.hero-section .main-navbar .burger-icon:active {
  background: white;
  color: #19536b;
}

.hero-section .main-navbar .burger-icon:hover {
  background: white;
  color: #19536b;
}

.hero-section .main-navbar .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .hero-section .main-navbar .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    position: absolute;
    left: 7.5%;
    top: 5.5rem;
    width: 85%;
    -webkit-box-shadow: 4px 4px 8px overlay(black, 0.3);
            box-shadow: 4px 4px 8px overlay(black, 0.3);
    text-align: center;
    padding: 1.5rem 0;
  }
}

.hero-section .main-navbar .navbar a.navbar-link {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 20px;
}

@media only screen and (max-width: 1024px) {
  .hero-section .main-navbar .navbar a.navbar-link {
    color: #19536b;
    margin: 3px auto;
    display: inline-block;
  }
}

.hero-section .main-navbar .navbar a.navbar-link.link-active {
  background: white;
  color: #818498;
  border-radius: 40px;
  font-family: "Fraunces", serif;
  margin-left: 10px;
}

@media only screen and (max-width: 1024px) {
  .hero-section .main-navbar .navbar a.navbar-link.link-active {
    margin-left: 0;
    margin-top: 0.8rem;
    background: #fad400;
    color: #19536b;
  }
}

.hero-section .main-navbar .navbar a.navbar-link.link-active:hover {
  background: #e6e6e6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero-control {
  text-align: center;
  margin-top: 70px;
  font-size: 72px;
  color: white;
  font-family: "Fraunces", serif;
}

@media only screen and (max-width: 1024px) {
  .hero-control {
    font-size: 48px;
  }
}

.hero-control .hero-cover-arrow {
  margin-top: 120px;
}

.about-section .about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .about-section .about-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-section .about-row .about-box {
  width: 100%;
}

.about-section .about-row .about-box.about-box-test {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: center;
  padding: 2.5rem 0;
}

.about-section .about-row .about-box .inner {
  width: 60%;
  padding: 30px;
}

@media only screen and (max-width: 1024px) {
  .about-section .about-row .about-box .inner {
    width: 100%;
  }
}

.about-section .about-row .about-box .inner h2 {
  font-size: 48px;
  font-family: "Fraunces", serif;
  color: #23303e;
}

@media only screen and (max-width: 1024px) {
  .about-section .about-row .about-box .inner h2 {
    font-size: 2rem;
  }
}

.about-section .about-row .about-box .inner p {
  margin: 30px 0px;
  color: #818498;
  line-height: 30px;
}

.about-section .about-row .about-box .inner a {
  color: #19536b;
  text-decoration: none;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  display: inline-block;
}

.about-section .about-row .about-box .inner a:after {
  content: '';
  display: block;
  width: 110%;
  height: 8px;
  margin-left: -5%;
  margin-top: -5px;
  border-radius: 20%;
}

.about-section .about-row .about-box .inner a.yellow:after {
  background: #ffe347;
}

.about-section .about-row .about-box .inner a.red:after {
  background: #ffbcb3;
}

.about-section .about-row:nth-child(even) .about-box .inner {
  margin-right: auto;
}

.about-section .about-row:nth-child(odd) .about-box .inner {
  margin-left: auto;
}

.section-services .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .section-services .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-services .services .service {
  width: 100%;
  position: relative;
}

.section-services .services .service .service-info {
  position: absolute;
  left: 0px;
  bottom: 30px;
  padding: 30px;
  text-align: center;
}

.section-services .services .service .service-info img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-services .services .service .service-info h3 {
  font-size: 32px;
  font-family: "Fraunces", serif;
  margin-bottom: 30px;
}

.section-services .services .service .service-info p {
  width: 45%;
  margin: auto;
  line-height: 30px;
}

@media only screen and (max-width: 1024px) {
  .section-services .services .service .service-info p {
    width: 80%;
  }
}

.section-services .services .service .service-info.blue h3 {
  color: #19536b;
}

.section-services .services .service .service-info.blue p {
  color: #237395;
}

.section-services .services .service .service-info.blue.green h3 {
  color: #25564b;
}

.section-services .services .service .service-info.blue.green p {
  color: #34796a;
}

.testimonals-section {
  padding: 120px 0px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .testimonals-section {
    padding: 120px 0px;
  }
}

.testimonals-section .testi-header {
  font-family: "Fraunces", serif;
  font-size: 22px;
  color: #818498;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.testimonals-section .testimonals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 70px auto;
}

@media only screen and (max-width: 1024px) {
  .testimonals-section .testimonals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonals-section .testimonals .testimonal {
  width: 100%;
  padding: 30px;
}

.testimonals-section .testimonals .testimonal .testi-image {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 50px auto;
  border-radius: 50%;
  overflow: hidden;
}

.testimonals-section .testimonals .testimonal .testi-info p {
  line-height: 30px;
  color: #818498;
  width: 80%;
  margin: auto;
}

.testimonals-section .testimonals .testimonal .testi-info .name {
  margin-top: 70px;
  margin-bottom: 15px;
  font-size: 26px;
  font-family: "Fraunces", serif;
  color: #23303e;
  font-weight: 900;
}

.testimonals-section .testimonals .testimonal .testi-info .designation {
  color: #818498;
}

.projects-section .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 1024px) {
  .projects-section .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.projects-section .projects .project {
  position: relative;
  overflow: hidden;
}

.projects-section .projects .project .project-info {
  position: absolute;
  bottom: -100px;
  left: 0px;
  width: 100%;
}

.projects-section .projects .project .project-info a {
  display: block;
  color: white;
  background: black;
  padding: 30px;
  font-size: 22px;
}

@media only screen and (max-width: 1024px) {
  .projects-section .projects .project .project-info a {
    font-size: 18px;
  }
}

.main-footer {
  background: #58ad9c;
  text-align: center;
  padding: 6.5rem 0rem;
}

.main-footer .footer-logo {
  width: 8rem;
  margin: auto;
  color: #25564b;
}

.main-footer .footer-logo svg path {
  fill: currentColor;
}

.main-footer .footer-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
  width: 100%;
}

.main-footer .footer-navbar .navbar-link {
  text-decoration: none;
  padding: 1rem 1rem;
  color: #25564b;
}

.main-footer .footer-navbar .navbar-link:hover {
  color: white;
}

.main-footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6rem;
  width: 100%;
}

.main-footer .footer-social .footer-social-icon {
  display: block;
  padding: 1rem 1rem;
  color: #25564b;
}

.main-footer .footer-social .footer-social-icon:hover {
  color: white;
}
/*# sourceMappingURL=style.css.map */