* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import 'reset';
//font imports
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

//primary colors
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-cyan-footer: hsl(168, 34%, 41%);

//neutral colors
$very-dark-blue: hsl(212, 27%, 19%);
$very-dark-gray-blue: hsl(213, 9%, 39%);
$dark-gray-blue:  hsl(232, 10%, 55%);
$gray-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//fonts
$font1: 'Barlow', sans-serif;
$font2: 'Fraunces', serif;

// html {
//     font-size: 62.5%;
// }

body {
    font-size: 18px;
    font-family: $font1;
}

.hero-section {
  height: 100vh;
  background: url('/images/desktop/image-header.jpg') no-repeat center;
  background-size: cover;
 .main-navbar {
    width: 1440px;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
 }

}